@font-face {
    font-family: 'Josefin Sans';
    src:
        local('Josefin Sans'), 
        url('../assets/fonts/JosefinSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src:
        local('Josefin Sans-Bold'), 
        url('../assets/fonts/JosefinSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}